$primary-color: #F0250F;
$normal-color: #848484;
$link-color: $primary-color;
$link-hover-color: mix($link-color , #000, 80%);
$title-color: #2D2D2D;
$text-color: #848484;
$light-color: #F6F6F6;
$dark-color: #DADADA;